<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fbw.recyclerviewproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity"></activity>
        <!-- <activity android:name=".scrollImage.ScrollImageActivity"></activity> -->
        <!-- <activity android:name=".rotate3d.FlipAnimationActivity"></activity> -->
        <!-- <activity android:name=".rotate3d.Roatate3dActivity"></activity> -->
        <!-- <activity android:name=".circleView.CircleViewActivity"></activity> -->
        <!-- <activity android:name=".SuperCircleView.SuperCircleViewActivity"></activity> -->
        <!-- <activity android:name=".galanz.GalanzActivity" /> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".transition.DetailActivity" />
        <activity android:name=".transition.TransitionManagerActivity" />
    </application>

</manifest>